// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ol {
  display: flex;
  list-style-type: none;
}


li {
  margin: 10px;
  padding: 20px;
  background: grey;
  letter-spacing: 0.1em;

}

